@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-btn-dark: #46535c;
	--color-btn-dark-hv: #6d8291;
	--color-btn-light: #90caf9;
	--color-btn-light-hv: #2196f3;
	--color-txt-dark: #e0e0e0;
	--color-txt-light: #333;
	--color-page-dark: #323232;
	--color-page-light: #f3f3f3;
}
